# Appendix C Data

## C.2 Data manipulation
Manipulating data is an important part of data science, and there are a lot of built-in commands for doing it in R:
```
subset()
aggregate()
merge()
reshape()
```
These commands can be difficult to use. Instead of the traditional commands, we are going to focus on the `dplyr` package for filtering data. They provide a nice suite of replacements for the traditional commands, which have a consistent, unified interface and interoperate nicely with each other.

The `dplyr` package is part of `tidyverse`, and we can just load up the `tidyverse` package to use tools in `dplyr`.

We will be using the `nycflights13` data set for this lecture. It does not come with tidyverse.  This data set is about flights departing from the NYC area in 2013.

In [11]:
library(nycflights13)

Here we will interpret `tibble` simply as a dataframe. More information can be found in the document here [(link)](https://tibble.tidyverse.org/).

Notice the types of the variables above. They include:

* **int** integers
* **dbl** double precision floating point numbers
* **chr** character vectors, or strings
* **dttm** date-time (a date along with a time)

Other types available in `R` but not represented above include:

* **lgl** logical (either `TRUE` or `FALSE`)
* **fctr** factor (categorical variable with a fixed number of possible values)
* **date** date

### C.2.1 Filtering 
The first operation we'll learn about is filtering. Filtering is interpereted to mean "keep only the rows which match these criteria". The syntax for the `filter` command is 
```{r}
filter(<TIBBLE>, <LOGICAL CRITERIA>)
```
This commands returns a new tibble whose rows all match the specified criteria.

For those who are new to programming, we now briefly review the sorts of logical operations that you can specify for commands like `filter()`. The basic logical operators in R are `>`, `>=`, `<`, `<=`, `!=` (not equal), and `==` (equal). The first four are used for comparing numbers and function exactly as in mathematics. Do not confuse `==` with `=`!

Logical expressions are combined using *boolean operations*. The basic boolean operations are `and`, `or`, and `not`, denoted `&`, `|` and `!` respectively. There are also doubled versions of `&` and `|` denoted `&&` and `||`.

Another useful operator is `%in%`:
```r
x %in% y
```

return `TRUE` if the value `x` is found in the vector `y`:

Something we will often encounter when working with real data are missing observations. `R` has a special value, `NA` , for representing missing data.  Since we cannot test `NA`s for equality, `R` has a special function for determining whether a value is `NA`.

Let's use what we have just learned to evaluate some simple queries on the `flights` dataset. Let's first construct narrow down to all flights that departed on December 31.

An alternative way is to use multiple arguments in `filter`.  `R` will interpret multiple arugments as `AND` in the `filter` function.

The above code just displayed the filtered rows. We can save the filtered rows into a new `tibble`.

If we want to assign as well as print, enclose the command in parentheses.

Let's filter down to all flights which were in the last quarter of the year (October through December). That is, we want flights whose `month` is 10, 11, or 12.

We can save some typing by using the `%in%` operator as well as the `:` (colon) operator. The colon operator takes two integers and returns a vector of all the integers between them: `a:b = c(a,a+1,...,b-1,b)`.

The above pattern occurs so ofter, there is a special `between()` function:

Sometimes we just want to know how many observations match a given filter. The `nrow()` command can be used to count the number of rows in a data table. Let us try to calculate how many flights with missing departure time in our data.

How about the number of flights departing between Jan and Mar?

### C.2.2 Arrange rows

`arrange` can order rows of a data frame using a variable name (or a more complicated expression). If multiple expressions are provided, it uses the second one to break ties in the first one, third one to break ties in the second one, and so on.

We sorted the data by month and day, so the top-most rows have the earliest month, folllowed by day.

`desc()` will order in descending order.

Missing values are always left at the end by `arrange`. In contrast, `filter` will ignore missing values unless you explicitly ask for them using `is.na()`.

### C.2.3 Slice rows
The slice function is helpful in selecting the specific rows in a data set. Type `?slice` to understand more about the function.