# Appendix B Programming Basics

## B.1 Basic objects in `R`

### Vectors

The most basic element of statistics is a vector of numeric data. To create a vector in `R`, we use the following syntax.

In [9]:
v <- c(1,2,3,4,5)
v2 = c(3,4,1,2,9)
print(v)
print(v2)

[1] 1 2 3 4 5
[1] 3 4 1 2 9

This create a variable named `v` and stores in it the vector of numbers `(1, 2, 3, 4, 5)`. Some things to note:

-  The left arrow `<-` is an operator used to assign values to objects. The equal sign `=` also works in `R`.  

- `c()` is a function that "combines values into a vector or list" (see [this help file](https://www.rdocumentation.org/packages/base/versions/3.6.2/topics/c) or type `?c` in the code cell). 

We can create a longer vector by combining two vectors.

In [11]:
(x<-c(v,v2))
(x<-c(x,100))

 [1] 1 2 3 4 5 3 4 1 2 9

 [1]   1   2   3   4   5   3   4   1   2   9 100

Almost all operations in `R` are "vectorized", meaning that they can operate on vectors. As an example, to multiply each element of `x` by the number 2, we simply type the following.

In [17]:
(y<-2*x)
sum(y) #?sum
#?<function name>
round(mean(y),digits=3)
sum(y)/length(y)

 [1]   2   4   6   8  10   6   8   2   4  18 200

[1] 268

[1] 24.364

[1] 24.36364

Numeric vectors hold integers or doubles. By default, if we enter a number in `R` it is stored as a double. To explicitly store integers, we can use the as.integer function.

In [20]:
typeof(2)
typeof(as.integer(2))

[1] "double"

[1] "integer"

It is possible to assign names to each entry of a vector.

In [29]:
#(v_with_names<-c(a=1, b=2, c=3))
names(v)<-c('sta','ds','cs','am','ee')
v

v[1]
v["sta"]

sta  ds  cs  am  ee
  1   2   3   4   5

sta
  1

sta
  1

### Logical values

In `R`, the *boolean* (true / false) values are represented by the special values `TRUE` and `FALSE`, commonly abbreviated `T` and `F`.

In [32]:
(u<-c(TRUE, FALSE, FALSE, T, F))

[1]  TRUE FALSE FALSE  TRUE FALSE

Logical values are results of logical statements (questions), for instance, comparisons of numbers.

In [35]:
v>3
v[v>3]

  sta    ds    cs    am    ee
FALSE FALSE FALSE  TRUE  TRUE

am ee
 4  5

Often you will need to combine multiple logical conditions. To do this we have the **logical operators** (`&&` and `||`), which take the logical `and` and `or`, respectively, of several logical conditions.

In [41]:
T && T
T && T && F

T || F

[1] TRUE

[1] FALSE

[1] TRUE

There is a subtle but important difference betwen the single and double versions of these operators. The single `&` performs entrywise `AND` over logical vectors:

In [46]:
#rain<-FALSE;
#temp <- 55; 
#(can_jog<- (rain == FALSE) & (temp > 50) )

rain <- c(FALSE, TRUE);
temp <- c(55, 52);
names(rain)<-c('Today','Tue')

(can_jog<- (rain == FALSE) & (temp > 50) )
(can_jog2<- (rain == FALSE) && (temp > 50) )

[1] TRUE

Today   Tue
 TRUE FALSE

[1] TRUE

Be careful when testing for equality in conditionals. The `==` operator will return a *vector* of logicals. If you want to make sure that any/all entries of a vector are `TRUE`, use the `any()` or `all()` functions:

In [50]:
v1 = c(1,2,3,4,5)
v2 = c(1,2,8,0,5)

v1 == v2

all(v1 == v2)
any(v1 == v2)
# ?identical

[1]  TRUE  TRUE FALSE FALSE  TRUE

[1] FALSE

[1] TRUE

### Missing values

A very statistical feature of `R` that sets it apart from other languages is the built-in ability to handle missing data via the special value `NA` (not available). Think of `NA` as saying that `R` doesn't know the value of something. Is `NA` greater than 5? `R` doesn't know, because `R` don't know what the unobserved value supposed to be. Yet the `NA` is still counted as one sample, just not observed.

In [61]:
(x<-NA)

x > 3
x == NA

is.na(x)
(v_x<-c(v,x))
length(v_x)

[1] NA

[1] NA

[1] NA

[1] TRUE

sta  ds  cs  am  ee
  1   2   3   4   5  NA

[1] 6

### Matrix and array 

We can create vectors with more than one dimenions, which is known as a matrix (with two dimensions) or an array (with more than two dimensions).

In [75]:
A<-matrix(1:8,nrow=2,ncol=4)
B <- array(1:24, dim=c(2,2,2,3))
dim(B)
dim(A)

[1] 2 2 2 3

[1] 2 4