# Appendix C Data

## C.2 Data manipulation

### C.2.4 Select columns

`select` is used to keep only a few variables of interest to the current analysis. It is most useful when working with data frames involving a large number of variables. It is commonly used with the pipe operator `%>%`. For now, it suffices to know that `x %>% f(y)` means `f(x, y)`. We will see this operator a lot in the next section.

In [1]:
library(tidyverse)
library(nycflights13)

-- Attaching packages ------------------------------------------------------------------------------- tidyverse 1.3.0 --

v ggplot2 3.3.2     v purrr   0.3.4
v tibble  3.0.4     v dplyr   1.0.2
v tidyr   1.1.2     v stringr 1.4.0
v readr   1.4.0     v forcats 0.5.0

-- Conflicts ---------------------------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [3]:
select(flights,year,month,day, dep_time, arr_time) %>% head()

  year month day dep_time arr_time
1 2013 1     1   517       830
2 2013 1     1   533       850
3 2013 1     1   542       923
4 2013 1     1   544      1004
5 2013 1     1   554       812
6 2013 1     1   554       740

We can change the name of the variables when selecting them.

In [4]:
select(flights,year,month,day, departure_time=dep_time, arr_time) %>% head()

  year month day departure_time arr_time
1 2013 1     1   517             830
2 2013 1     1   533             850
3 2013 1     1   542             923
4 2013 1     1   544            1004
5 2013 1     1   554             812
6 2013 1     1   554             740

Note that `select` drops any variables not explicitly mentioned. To just rename some variables while keeping all others, use `rename`.

In [5]:
rename(flights, departure_time=dep_time) %>% head()

  year month day departure_time sched_dep_time dep_delay arr_time
1 2013 1     1   517            515             2         830
2 2013 1     1   533            529             4         850
3 2013 1     1   542            540             2         923
4 2013 1     1   544            545            -1        1004
5 2013 1     1   554            600            -6         812
6 2013 1     1   554            558            -4         740
  sched_arr_time arr_delay carrier flight tailnum origin dest air_time distance
1  819            11       UA      1545   N14228  EWR    IAH  227      1400
2  830            20       UA      1714   N24211  LGA    IAH  227      1416
3  850            33       AA      1141   N619AA  JFK    MIA  160      1089
4 1022           -18       B6       725   N804JB  JFK    BQN  183      1576
5  837           -25       DL       461   N668DN  LGA    ATL  116       762
6  728            12       UA      1696   N39463  EWR    ORD  150       719
  hour minute time_hour
1 5    15     2013-01-01 05:00:00
2 5    29     2013-01-01 05:00:00
3 5    40     2013-01-01 05:00:00
4 5    45     2013-01-01 05:00:00
5 6     0     2013-01-01 06:00:00
6 5    58     2013-01-01 05:00:00

If there are a lot of variables, you can save yourself some typing by using `:` and `-` in combination with select. The colon operator selects a range of variables.

In [6]:
select(flights,year:day) %>% head()

  year month day
1 2013 1     1
2 2013 1     1
3 2013 1     1
4 2013 1     1
5 2013 1     1
6 2013 1     1

The negative sign lets you select everything but certain columns.

In [8]:
select(flights, -day) %>% print

# A tibble: 336,776 x 18
    year month dep_time sched_dep_time dep_delay arr_time sched_arr_time
   <int> <int>    <int>          <int>     <dbl>    <int>          <int>
 1  2013     1      517            515         2      830            819
 2  2013     1      533            529         4      850            830
 3  2013     1      542            540         2      923            850
 4  2013     1      544            545        -1     1004           1022
 5  2013     1      554            600        -6      812            837
 6  2013     1      554            558        -4      740            728
 7  2013     1      555            600        -5      913            854
 8  2013     1      557            600        -3      709            723
 9  2013     1      557            600        -3      838            846
10  2013     1      558            600        -2      753            745
# ... with 336,766 more rows, and 11 more variables: arr_delay <dbl>,
#   carrier <chr>, flight <int>, tailnum <chr>, origin <chr>, dest <chr>,
#   air_time <dbl>, distance <dbl>, hour <dbl>, minute <dbl>, time_hour <dttm>

We can use `-` and `:` together, for example:

In [9]:
select(flights, -(year:day)) %>% print

# A tibble: 336,776 x 16
   dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay carrier
      <int>          <int>     <dbl>    <int>          <int>     <dbl> <chr>
 1      517            515         2      830            819        11 UA
 2      533            529         4      850            830        20 UA
 3      542            540         2      923            850        33 AA
 4      544            545        -1     1004           1022       -18 B6
 5      554            600        -6      812            837       -25 DL
 6      554            558        -4      740            728        12 UA
 7      555            600        -5      913            854        19 B6
 8      557            600        -3      709            723       -14 EV
 9      557            600        -3      838            846        -8 B6
10      558            600        -2      753            745         8 AA
# ... with 336,766 more rows, and 9 more variables: flight <int>,
#   tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>, distance <dbl>,
#   hour <dbl>, minute <dbl>, time_hour <dttm>

To bring a few variables at the beginning, we can use `everything()` to refer to the remaining variables.

In [12]:
select(flights, dep_time, arr_time, everything()) %>% head()

  dep_time arr_time
1 517       830
2 533       850
3 542       923
4 544      1004
5 554       812
6 554       740

In addition, there are some helper functions that only work inside `select()`.

* `starts_with()`, `ends_with()`, `contains()`
* `matches()`
* `num_range()`

We can use `?select` to learn more about these. Here's just one example of their use.

In [14]:
select(flights, contains("time")) %>% head()

  dep_time sched_dep_time arr_time sched_arr_time air_time time_hour
1 517      515             830      819           227      2013-01-01 05:00:00
2 533      529             850      830           227      2013-01-01 05:00:00
3 542      540             923      850           160      2013-01-01 05:00:00
4 544      545            1004     1022           183      2013-01-01 05:00:00
5 554      600             812      837           116      2013-01-01 06:00:00
6 554      558             740      728           150      2013-01-01 05:00:00

This basically selects all the columns containing the string "time".