# Chapter 2 Exploratory Data Analysis

Often times the first thing we do when receiving a new data set is to run exploratory analysis on this data to understand the mechanism that generates such data. This might include the analysis of data at hand (e.g., data from pilot studies, metadata from the Internet) in order to design experiments or surveys, as well as the initial analysis of the data set to provide basic description or to detect anomolies, etc. 

It is important to know that the exploratory data analysis means more than data analysis using statistical software. In order to understand the data structure and interpret our findings, it often requires us to read the past analyses, known features, and the documentation of the data set. However, these background research are subject-specific. Hence, in this chapter, we will focus on the data analysis part of exploratory data analysis.

## 2.1 Background research

Imagine that we have a data set at hand that we need to explore. We know that data can come in many forms (see e.g., Appendix C). Moreover, data from different sources might have different naming rules for even the same variables. We could as well imagine that there are relationships among variables that are well-known in the fields, which are immediately clear to us statisticians. Therefore, before carrying out any analysis on a data set, the first thing to do is to read its documentation. For instance, see [Project STAR](https://dataverse.harvard.edu/dataset.xhtml?persistentId=hdl:1902.1/10766) in Harvard dataverse, or the [WHO COVID-19 explorer](https://worldhealthorg.shinyapps.io/covid/).

In [11]:
library(AER)
data(STAR)

In [12]:
head(STAR)

     gender ethnicity birth   stark        star1 star2        star3
1122 female afam      1979 Q3 NA           NA    NA           regular
1137 female cauc      1980 Q1 small        small small        small
1143 female afam      1979 Q4 small        small regular+aide regular+aide
1160 male   cauc      1979 Q4 NA           NA    NA           small
1183 male   afam      1980 Q1 regular+aide NA    NA           NA
1195 male   cauc      1979 Q3 NA           NA    regular      regular
     readk read1 read2 ... tethnicity2 tethnicity3 systemk system1 system2
1122  NA    NA    NA   ... NA          cauc        NA      NA      NA
1137 447   507   568   ... cauc        cauc        30      30      30
1143 450   579   588   ... afam        cauc        11      11      11
1160  NA    NA    NA   ... NA          cauc        NA      NA      NA
1183 439    NA    NA   ... NA          NA          11      NA      NA
1195  NA    NA    NA   ... cauc        cauc        NA      NA      6
     system3 schoolidk schoolid1 schoolid2 schoolid3
1122 22      NA        NA        NA        54
1137 30      63        63        63        63
1143 11      20        20        20        20
1160 6       NA        NA        NA        8
1183 NA      19        NA        NA        NA
1195 6       NA        NA        8         8

In [15]:
?STAR