# Basic about R Programming

This lecture note will cover some basics of R programming that we are going to use in the first few lectures.

### Assignment and operations

### Vectors
The most basic element of statistics is a vector of numeric data. To create a vector in R, we use the following syntax:

This create a variable named `v` and stores in it the vector of numbers `(1, 2, 3, 4, 5)`. Some things to note:

-  The `<-` (arrow) is an operator used to assign values to variables. (If you are used to programming in other languages, `=` also works.)
-  The `c()` is a function that takes several values and creates a vector out of them.

Let us concatenate the two vectors and make it into one longer vector

Let us concatenate some other values onto the vector x

Almost all operations in R are "vectorized", meaning that they can operate on vectors. If I want to multiply each element of `x` by the number 2, I simply type

How about adding all of the elements in y up?

Calculate the mean of y

## Logical values
In addition to representing numbers, it's quite common when programming to deal with *boolean* (true / false) values. In R these are represented by the special values `TRUE` and `FALSE`, commonly abbreviated `T` and `F`:

One way we can get logical values is asking whether numerical values are larger or smaller than some number:

## Missing values
In statistics missing data is common. A unique feature of R that sets it apart from other languages is a native ability to handle missing data via the special value `NA`:

Think of `NA` as saying that you don't know the value of something. Is `NA` greater than 5? I don't know, because I don't know what the original value was:

## Functions
Above we saw that typing `c(1,2,3,4,5)` creates a vector with the numbers 1-5. `c()` is an example of a *function*. The general form of a function in R (and most other programming languages) is:

    <function name>(<function arguments>)
    
In the above example, the function is named `c`, and the arguments were `1, 2, 3, 4, 5`. Another example of a function is `print`, which prints its arguments to the screen:

## Data Frames

Our main goal in R is to work with data, and one of the most fundamental objects in R is the *data frame*. Think of a data frame as a container for a bunch of vectors of data:

![dataframe](https://garrettgman.github.io/images/tidy-2.png)

We will now load the data set **population** from the R package **tidyverse**

In [13]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.3     ✔ dplyr   1.0.2
✔ tidyr   1.1.1     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

To extract a vector (column) of data from a data frame, we use the `$` operator:

## Loading a data frame
To load a data frame from a file we use the `load()` function. In the same folder as this lecture there is a file called `flint.RData`.

This has loaded a data frame into a variable called `flint` containing data from the Flint water crisis:

Let's do some basic analysis of the Flint water crisis using this data. 

What are some questions we could ask about this data set?